In [1]:
import pandas as pd
import seaborn as sns
import math
from collections import Counter
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

In [2]:
#imputo la moda

def imputo_moda(df):
    mode_imputer = SimpleImputer(strategy='most_frequent')
    df_2 = df.copy()
    df_2.iloc[:,:] = mode_imputer.fit_transform(df_2)
    return(df_2)

#One Hot Encoding

def OHE(df,lista_colonne):

    for nome_colonna in lista_colonne:
        df_onehot_encoded = pd.get_dummies(df[nome_colonna])
        df = pd.concat([df, df_onehot_encoded], axis=1)

    df.drop(labels = lista_colonne, inplace=True,axis=1)
    return(df)
    
#trasformo true/falso in 0/1

def TrueFalsetoInt(df,lista_colonne):

    for nome_colonna in lista_colonne:
        df[nome_colonna] = df[nome_colonna]*1
    return(df)

In [3]:
df_train = pd.read_csv("train.csv")
df_test = pd.read_csv("test.csv")

In [4]:
#Splitto la cabina

df_cabin = df_train['Cabin'].str.split("/",expand=True)
df_cabin.columns = ['deck', 'num', 'side']

df_train = pd.concat([df_train, df_cabin], axis=1)
df_train.drop(labels = 'Cabin', inplace=True,axis=1)

df_cabin = df_test['Cabin'].str.split("/",expand=True)
df_cabin.columns = ['deck', 'num', 'side']

df_test = pd.concat([df_test, df_cabin], axis=1)
df_test.drop(labels = 'Cabin', inplace=True,axis=1)

In [5]:
#Imputo tutto con la moda
df_train_2 = imputo_moda(df_train)
df_test_2 = imputo_moda(df_test)

In [6]:
def categorical_variable(feature,):

,PassengerId,HomePlanet,CryoSleep,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported,deck,num,side
0,0001_01,Europa,False,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False,B,0,P
1,0002_01,Earth,False,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True,F,0,S
2,0003_01,Europa,False,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False,A,0,S
3,0003_02,Europa,False,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False,A,0,S
4,0004_01,Earth,False,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True,F,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False,A,98,P
8689,9278_01,Earth,True,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False,G,1499,S
8690,9279_01,Earth,False,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True,G,1500,S
8691,9280_01,Europa,False,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False,E,608,S
8692,9280_02,Europa,False,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True,E,608,S

In [86]:


# one-hot-encoding di HomePlanet // Destination
#Destination

df_train_2 = OHE(df_train_2,['HomePlanet','Destination','side','deck'])
df_test_2 = OHE(df_test_2,['HomePlanet','Destination','side','deck'])


#trasformo True/False in 1/0

df_train_2 = TrueFalsetoInt(df_train_2,['CryoSleep','VIP','Transported'])
df_test_2 = TrueFalsetoInt(df_test_2,['CryoSleep','VIP'])


#Tolgo le colonne che non mi servono o non so come usare ancora

df_train_2.drop(labels = ['PassengerId','Name','num'], inplace=True,axis=1)
df_test_2.drop(labels = ['PassengerId','Name','num'], inplace=True,axis=1)

In [87]:
df_train_2.to_excel('train_1.xlsx')
df_test_2.to_excel('test_1.xlsx')